body {
  margin: 0;
  padding: 0;
  background: #fcf5f8
}
hr {
  background-image: url(../images/hr.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 60px;
  width: 100%;
  border: 0;
}
.photo {
  height: auto;
  width: 100%;
  display: block;
}
.wrap_cover {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: -1;
  overflow: hidden;
}
.cover_item {
  max-height: none!important;
  position: relative;
}
.wrap_body {
  background: #fcf5f8;
  z-index: 10;
  overflow: hidden;
  padding-top: 20px;
}
.cover_image {
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  padding: 0!important;
  user-select: none;
  margin: 0;
  display: block;
}
.cover_cell {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  top: 27%;
  -webkit-transform: translate(0,-50%);
  position: absolute;
  padding: 0 20px;
}
span {
  font-weight: 100;
  letter-spacing: -1px;
  font-family: "Iropke Batang",serif;
}
.article {
  color: #333333;
  text-align: justify;
  font-size: 13pt;
  line-height: 21pt;
  word-break: break-all;
}
.article_m {
  color: #333333;
  text-align: justify;
  font-size: 15pt;
  line-height: 21pt;
  word-break: break-all;
}
#title {
  font-size: 18pt;
  line-height: 22pt;
  color: #444;
}
#subtitle {
  font-size: 10pt;
  line-height: 15pt;
  color: #444;
}
#family {
  padding-top: 20px;
}
#invitation {
  padding: 0 20px 0 20px;
}
#info {
  padding: 0 20px 0 20px;
}
#grallery {
}
.small {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 10pt;
}
.map {
  height: auto;
  width: 100%;
  padding-top: 20px;
}
.calandar {
  background-image: url(../images/calendar-icon.png);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 24px;
}
#footer {
  height: 200px;
  background-image: url(../images/cljs.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.re_frame {
  display: block;
  height: 100%;
  width: 100%;
}
